/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, h1, h2, h3, h4, h5, h6, p, pre,
a, img, small, strong, sub, sup, form, label, canvas {
    border: 0;
    color: inherit;
    font-size: 100%;
    font: inherit;
    margin: 0;
    padding: 0;
    text-decoration: none;
    vertical-align: baseline;
}
body {
    background-color: #f7f7f7;
    font-family: sans-serif;
    line-height: 1;
    z-index: 1;
}